.date_wrapper,
.distanse_wrapper {
	display: flex;
	flex-direction: column;
	margin: 20px;

}

input {
	max-width: 20vh;
	padding: 10px;
	border: 1px black solid;
	border-radius: 5px;
}

.steps_form {
	display: flex;
	align-items: flex-end;
}

.button_wrapper {
	margin: 20px;
}

.history_headers {
	display: flex;
}

.header,
.history_action_distanse,
.history_action_steps {
	margin: 20px;
	min-width: 20vh;
	;
}

.history_steps {
	list-style-type: none;
	border-radius: 20px;
	border: 1px black solid;
	width: fit-content;
	margin: 20px;
	padding: 0;

}

.history_action {
	display: flex;
	justify-content: flex-start;
	padding: 0;

}

.btn_wrap {
	padding: 20px;
	padding-left: 0;
}